/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** @MEDIA
*/


body{
 margin: 0;
	padding: 0;
	

}

a{
	text-decoration: none;
}



/* RODAPÉ */
	.rodapeBlog{
		font-family: 'Montserrat', sans-serif;
		background: #2d2d2d;
		padding-top: 90px;
		padding-bottom: 50px;
	}
		.rodapeBlog .container{
		}
		.rodapeBlog .areaLogo{

		}
			.rodapeBlog .areaLogo .logo{
			}
				.rodapeBlog .areaLogo .logo img{
					max-width: 135px;
					margin: 0 auto;
					display: block;
				}

			.rodapeBlog .areaLogo .descricao{
				max-width: 200px;
				margin: 20px auto;
			}

				.rodapeBlog .areaLogo .descricao p{
					text-align: center;
					color: #fff;
				}

					.rodapeBlog .areaLogo .descricao p strong{

					}

			.rodapeBlog .areaLogo .redesSociais{
				text-align: center;
				background: url(../img/brushstroke.png);
				height: 80px;
				padding-top: 17px;
				max-width: 235px;
				margin: 0 auto;
				background-size: cover!important;
			}
				.rodapeBlog .areaLogo .redesSociais a{
					text-decoration: none;	
				}
					.rodapeBlog .areaLogo .redesSociais a .icone1{
						display: inline-block;
						background: #fff;
						width: 35px;
						height: 35px;
						border-radius: 100%;
						text-align: center;
						font-size: 25px;
						margin: 0 4px;
						color: #2d2d2d;	
				    }
						.rodapeBlog .areaLogo .redesSociais a .icone1 i{
											
					    }
						
		.rodapeBlog .menuRodape{

		}
			.rodapeBlog .menuRodape .nav{

			}
				.rodapeBlog .menuRodape .nav> a{
					
				}
				.rodapeBlog .menuRodape .nav strong{
					color: #fff;
					font-weight: 600;
					display: block;
					text-align: left;
					margin-bottom: 5px;

				}
				.rodapeBlog .menuRodape .nav ul{
					list-style: none;
					padding: 0;
					text-align: left;
				}
					.rodapeBlog .menuRodape .nav ul li{
							position: relative;

					}
						.rodapeBlog .menuRodape .nav ul li .horarios{
							background: #fff;
							max-width: 230px;
							text-align: center;
							padding: 10px;
							border: solid #87c0c8 3px;
							padding: 10px;
							position: absolute;
							z-index: 99999;
							top: 0px;
							display: none;
							right: 25px;
						}
								.rodapeBlog .menuRodape .nav ul li.hoverHorarios:hover .horarios{
									display: block;
								}
							.rodapeBlog .menuRodape .nav ul li .horarios strong{
								color: #2d2d2d;
								text-align: center;
								font-size: 13px;
								font-weight: 800;
								position: relative;
								max-width: 121px;
								margin: 0 auto;
							}
									.rodapeBlog .menuRodape .nav ul li .horarios strong:before{
										content: '.';
										display: block;
										font-size: 17px;
										color: #87c0c8;
										left: 0;
										position:absolute;
										bottom: 0px;
									}
									.rodapeBlog .menuRodape .nav ul li .horarios strong:after{
										content: '.';
										display: block;
										font-size: 17px;
										color: #87c0c8;
										right: 0;
										position:absolute;
										bottom: 0px;
									}
							.rodapeBlog .menuRodape .nav ul li .horarios span{
								font-size: 11px;
								font-weight: 600;
								color: #2d2d2d;
								display: block;
							}
						.rodapeBlog .menuRodape .nav ul li a{
							color: #fff;
							font-size: 12px;	
							border: solid 2px transparent;
							text-decoration: none;
						}
							.rodapeBlog .menuRodape .nav ul li a:hover{
								color: #fff;
								font-size: 12px;
								border: solid 2px #87c0c8;
								padding: 2px;	
							}
							.rodapeBlog .menuRodape .nav ul li a .svg-inline--fa{
								color: #87c0c8;
								margin-right: 5px;
							}

/* COPYRIGHT */
	.copyrightBlog{
		font-family: 'Montserrat', sans-serif;
		position: relative;
		background: #2d2d2d;
		padding: 20px 0;
	}
		.copyrightBlog:before{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

		}
		.copyrightBlog p{
			text-align: center;
			max-width: 273px;
			margin: 0 auto;
			color: #fff;
			border: solid 1px;
			padding: 7px;
			position: relative;
			background: #2d2d2d;
		}
			.copyrightBlog p .svg-inline--fa{
				color: #87c0c8;
			}

/* GERAIS */
	.pg{}

		.pg section .tituloBlog{
				font-family: 'Montserrat', sans-serif;
				border-bottom: solid 3px #676767;
				margin-top: 50px;
			}
				.pg section .tituloBlog h6{
					color: #676767;
					font-size: 20px;
				}
		.newllslatterBottom{
			font-family: 'Montserrat', sans-serif;
			background: #87c0c8;
			text-align: center;
			padding: 25px 10px;
		    margin-top: 100px;
		}
			.newllslatterBottom p{
				text-align: center;
				color: #fff;
				font-size: 26px;
				max-width: 1031px;
				margin: 0 auto 30px;
				font-weight: 500;
			}
			.newllslatterBottom .formNews{

			}
				.newllslatterBottom  .formNews input[type="text"]{
					border: none;
					padding: 10px;
					display: inline-block;
					width: 100%;
					max-width: 317px;
					height: 34px;
				    margin: 0 5px;
				    outline: none;
				    color: #87c0c8;
				    font-size: 15px;
	
				}
					/* Chrome, Safari, Opera */
					.newllslatterBottom  .formNews input[type="text"]::-webkit-input-placeholder{
						color: #87c0c8;
						font-size: 15px;
					}

					/* Firefox 18- */
					.newllslatterBottom  .formNews input[type="text"]:-moz-placeholder{
						color: #87c0c8;
						font-size: 15px;
					}

					/* Firefox 19+ */
					.newllslatterBottom  .formNews input[type="text"]::-moz-placeholder{
						color: #87c0c8;
						font-size: 15px;
					}

					/* IE10+ */
					.newllslatterBottom  .formNews input[type="text"]:-ms-input-placeholder{
						color: #87c0c8;
						font-size: 15px;
					}
				.newllslatterBottom  .formNews input[type="submit"]{
					border: solid 2px;
					display: inline-block;
					width: 90px;
					height: 34px;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 12px;
					border-color: #fff;
					color: #fff;
					background: transparent;
				}
				.newllslatterBottom  .formNews input{
					outline: none;
				}
	.verMais{
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		margin-bottom: 100px;
		margin-top: 65px;
	}
			
		.verMais a{

			border: solid 2px #87c0c8;
			padding: 8px 20px;
			font-size: 17px;
			font-weight: 600;
			color: #87c0c8;
			text-decoration: none;
		}
			.verMais a:hover{
				color:#fff; 
				background:#87c0c8; 
			}

/* PÁGINA INICIAL */
	.pg-inicialBlog{
		font-family: 'Montserrat', sans-serif;
		padding-top: 90px;

	}
		.pg-inicialBlog .newllslatter{
			background: #d9d9d8;
			min-height: 80px;
			margin-bottom: 80px;
		    padding-top: 50px;
		
		}
			.pg-inicialBlog .newllslatter .row{
				max-width: 1188px;
				margin: 0 auto;

			}
			.pg-inicialBlog .newllslatter .info{

		
			}
				.pg-inicialBlog .newllslatter .info p{
					color: #8a9ba8;
					font-weight: bold;
					font-size: 15px;
					text-align: right;
					padding: 0 10px;
		
				}
			.pg-inicialBlog .newllslatter .formNews{
			    padding-top: 5px;
	
			}
				.pg-inicialBlog .newllslatter .formNews input[type="text"]{
					border: none;
					padding: 10px;
					display: inline-block;
					width: 40%;
					height: 34px;
				    margin: 0 5px;
				    outline: none;
				    color: #8a9ba8;
				    font-size: 15px;
	
				}
					/* Chrome, Safari, Opera */
					.pg-inicialBlog .newllslatter .formNews input[type="text"]::-webkit-input-placeholder{
						color: #8a9ba8;
						font-size: 15px;
					}

					/* Firefox 18- */
					.pg-inicialBlog .newllslatter .formNews input[type="text"]:-moz-placeholder{

					}

					/* Firefox 19+ */
					.pg-inicialBlog .newllslatter .formNews input[type="text"]::-moz-placeholder{
						color: #8a9ba8;
						font-size: 15px;
					}

					/* IE10+ */
					.pg-inicialBlog .newllslatter .formNews input[type="text"]:-ms-input-placeholder{

					}
				.pg-inicialBlog .newllslatter .formNews input[type="submit"]{
					border: solid 2.5px;
					display: inline-block;
					width: 90px;
					height: 34px;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 12px;
					border-color: #8a9ba8;
					color: #8a9ba8;
				}
				.pg-inicialBlog .newllslatter .formNews input{
					outline: none;
				}
		.pg-inicialBlog .carrosselTopoBlog{

	
		}
			.pg-inicialBlog .carrosselTopoBlog .item{

		
			}
				.pg-inicialBlog .carrosselTopoBlog .item figure{
					display: block;
					width: 100%;
			
				}
					.pg-inicialBlog .carrosselTopoBlog .item figure img{
						width: 100%;
				
					}
	.pg-inicialBlog .sessaoCategorias{
		
	}
		.pg-inicialBlog .sessaoCategorias .tituloBlog{
			padding: 10px;
		}
			.pg-inicialBlog .sessaoCategorias .tituloBlog h6{
				
			}
	.pg-inicialBlog .carrosselCategoriaBlog{
		margin-top: 50px;
		margin-bottom: 50px;
	}
		.pg-inicialBlog .carrosselCategoriaBlog .item{
			
		}
			.pg-inicialBlog .carrosselCategoriaBlog .item a{
				text-decoration: none;
			}	
				.pg-inicialBlog .carrosselCategoriaBlog .item a img{
					border: solid transparent 7px;
				}
					.pg-inicialBlog .carrosselCategoriaBlog .item a img:hover{
						border-color: #87c0c8;
					}
	 .postHomeBlog{
		margin-top: 50px;
	}
		 .postHomeBlog ul{
			padding: 0;
			list-style: none;
			text-align: center;
		}
			 .postHomeBlog ul li{
			 	display: inline-block;
			 	width: 100%;
			 	max-width: 319px;
			 	margin: 0 29px 20px;
			 	vertical-align: top;
				
			}
				 .postHomeBlog ul li:hover{
					
				}
				 .postHomeBlog ul li a{
					text-decoration: none;
				}
					 .postHomeBlog ul li a img{
						display: block;
						width: 100%;
						max-width: 319px;
					}
					 .postHomeBlog ul li a div{
						border: solid transparent 6px;
						border-top: none;
						padding: 15px;
					}
						 .postHomeBlog ul li a:hover div{
							border-color:#87c0c8;
						}
						 .postHomeBlog ul li a div span{
							color: #64a3ac;
							display: block;
							
							font-weight: 600;
							font-size: 15px;
							font-style: italic;
						}
						 .postHomeBlog ul li a div h2{
							color: #4b4a4b;
						    font-size: 20px;
						}
						 .postHomeBlog ul li a div p{
							color: #4b4a4b;
							font-weight: 500;
							font-size: 12px;
						}
	.pg-inicialBlog .areaCategoria{
		margin-top: 50px;
		margin-bottom: 50px;
	}
		.pg-inicialBlog .areaCategoria nav{
		
		}
			.pg-inicialBlog .areaCategoria nav .nav{
				border: none;
				text-align: center;
			}
				.pg-inicialBlog .areaCategoria nav .nav a{
					color: #676767;
					font-size: 17px;
					font-weight: 500;
					text-decoration: none;
					border-bottom: solid 2px;
					margin: 0;
					padding-bottom: 9px;


				}
					.pg-inicialBlog .areaCategoria nav .nav a h3{
						margin: 10px 0;
						padding: 6px 2%;
						display: inline-block;
						font-size: 17px;
						font-weight: 500;
					}
					.pg-inicialBlog .areaCategoria nav .nav a.active{
						color: #87c0c8;
					}
		.pg-inicialBlog .areaCategoria .tab-content{
		
		}
			.pg-inicialBlog .areaCategoria .tab-content .tab-pane{
			    margin-top: 25px;
			}
						

/* PÁGINA CATEGORIAS */
	.pg-pesquisa {

	}
		.pg-pesquisa .sessaocarrosselDestaque{

		}
			.pg-pesquisa .sessaocarrosselDestaque h6{

			}
			.pg-pesquisa .sessaocarrosselDestaque .carrosselDestaque{

			}
				.pg-pesquisa .sessaocarrosselDestaque .carrosselDestaque .item{

				}
					.pg-pesquisa .sessaocarrosselDestaque .carrosselDestaque .item img{
						display: block;
						width: 100%;
						max-width: 100%;
						max-height: 400px;
					}	
    	.pg-pesquisa .tituloPrincipal{

		}

		.pg-pesquisa .conteudos{

		}
			.pg-pesquisa .conteudos .tituloPost{

		    }

				.pg-pesquisa .conteudos .tituloPost nav{

			    }	
					.pg-pesquisa .conteudos .tituloPost nav p{

					}
			
		.pg-pesquisa .conteudos .conteudoPost{

		}
			.pg-pesquisa .conteudos .conteudoPost .post{
	
			} 
				.pg-pesquisa .conteudos .conteudoPost .post a{
	
				}
					.pg-pesquisa .conteudos .conteudoPost .post a .imagem{
		
					}
						.pg-pesquisa .conteudos .conteudoPost .post a .imagem img{
		
						}
					.pg-pesquisa .conteudos .conteudoPost .post a .texto{
		
					}
						.pg-pesquisa .conteudos .conteudoPost .post a .texto p{
			
						}
						.pg-pesquisa .conteudos .conteudoPost .post a .texto h6{
			
						}

/* PÁGINA POST */
	.pg-post {

	}
		.pg-post .sessaoBannerDestaque{

		}
			.pg-post .sessaoBannerDestaque h6{

		}
			.pg-post .sessaoBannerDestaque .bannerDestaque{

		}
				.pg-post .sessaoBannerDestaque .bannerDestaque img{
					display: block;
					width: 100%;
					max-width: 100%;
   					height: auto;

 				}

	    .pg-post .tituloPrincipal{

		}
			.pg-post .tituloPrincipal h8{

			}
			.pg-post .tituloPrincipal p{

		    }
		    .pg-post .tituloPrincipal .icone{

				}
					.pg-post .tituloPrincipal img{

					}	
       
        .pg-post .conteudos .conteudo{

		}
			.pg-post .conteudos .conteudo .tituloPost{

			}
				.pg-post .conteudos .conteudo .tituloPost h4{

				}

			.pg-post .conteudos .conteudo .post{

		   }
				.pg-post .conteudos .conteudo .post .imagem{

				}
					.pg-post .conteudos .conteudo .post .imagem img{

					}

	            .pg-post .conteudos .conteudo .post .texto{

				} 
				   .pg-post .conteudos .conteudo .post .texto p{

				   } 
			.pg-post .conteudos .conteudo .post .assinaturaPost {

		   }
			   	.pg-post .conteudos .conteudo .post .assinaturaPost .imagemAutor{

				}
				   .pg-post .conteudos .conteudo .post .assinaturaPost .imagemAutor img{

				   }
				.pg-post .conteudos .conteudo .post .assinaturaPost .descricao{

				}
				
					.pg-post .conteudos .conteudo .post .assinaturaPost .descricao h6{

					}
				
					.pg-post .conteudos .conteudo .post .assinaturaPost .descricao p{

					}

			.pg-post .conteudos .conteudo .post .conteudoRelacionado{

		    }

		    	.pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo{

		  		}

			  		.pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post{

			        }

			  		.pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .imagemPost{

			        }

				  		.pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .imagemPost img{

				        }

				    .pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .descricaoPost{

			        }
				        .pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .descricaoPost p{

				        }
					        .pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .descricaoPost h8{

					        }

/* PÁGINA PESQUISA */
	.pg-pesquisa {

	}

		.pg-pesquisa .conteudos {

		}

			.pg-pesquisa .conteudos  .tituloPesquisa h6{
				font-size: 30px;

			}

			.pg-pesquisa .conteudos ul li .conteudo{


			}
				.pg-pesquisa .conteudos ul li .conteudo .post{
					margin-top: 100px;
					text-align: left;
					width: 100%;
					min-height: 200px;
					display: inline-block;

				}
					.pg-pesquisa .conteudos ul li .conteudo .post a{
						text-decoration: none;


					}
						.pg-pesquisa .conteudos ul li .conteudo .post a .imagem{

						}
							.pg-pesquisa .conteudos ul li.conteudo .post a .imagem img{
			    			    width: 100%;
			   				    height: auto;
			   				    
							}

						.pg-pesquisa .conteudos ul li .conteudo .post a .texto{
							text-align:center;

						}
 							.pg-pesquisa .conteudos ul li .conteudo .post a  .texto p{
								color: #46a2ae;
								font-size: 20px;
								font-style: italic;

							}
							.pg-pesquisa .conteudos ul li .conteudo .post a  .texto h6{
								font-size: 25px;

							}
				
				.pg-pesquisa .conteudos .conteudo .verMais{

			    }
				    .pg-pesquisa .conteudos .conteudo .verMais a{

				    }
				    	.pg-pesquisa .conteudos .conteudo .verMais p{

				   		}			
				
				.pg-pesquisa .conteudos .conteudo .newslleter{

			    }
			    	.pg-pesquisa .conteudos .conteudo .newslleter .noticia{

			   		}
			   			.pg-pesquisa .conteudos .conteudo .newslleter .noticia h5{

			   		}
			   			.pg-pesquisa .conteudos .conteudo .newslleter .noticia h7{

			   			}
					.pg-pesquisa .conteudos .conteudo .newslleter .noticia .enviar{

			   		}

				   		.pg-pesquisa .conteudos .conteudo .newslleter .noticia input[type="text"]{

				   		}

				   		.pg-pesquisa .conteudos .conteudo .newslleter .noticia input[type="submit"]{

				   		}


/* EXTRAS */

    .slick-slide {
      margin: 0;
    }

    .slick-slide img {
      width: 100%;
    }

	 .slick-slide{
		position: relative;
		margin-top: 10px;
		transition:All 1s ;
		-webkit-transition:All 1s ;
		-moz-transition:All 1s ;
		-o-transition:All 1s ;
		
	 } 
	 	.slick-slide img{
			max-height: 430px;
			transition:All 1s ;
			-webkit-transition:All 1s ;
			-moz-transition:All 1s ;
			-o-transition:All 1s ;

		} 
	.slick-active.slick-center{
	    margin-top: -10px;
	    transition:All 1s ;
	    -webkit-transition:All 1s ;
	    -moz-transition:All 1s ;
	    -o-transition:All 1s ;
 	}
 	.slick-active.slick-center img{
 		max-height: 462px;
 		transition:All 1s ;
 		-webkit-transition:All 1s ;
 		-moz-transition:All 1s ;
 		-o-transition:All 1s ;
	    
 	}
	 .slick-slide:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: #00000078;
 
	 }
	 .slick-active.slick-center:before{
		background: transparent;
	 }
    .slick-current {
      opacity: 1;
     width: 100%;
    }
    .containerCorrecaoX{
    	max-width: 1370px;
    	margin: 0 auto;
    }

/* @MEDIA */
@media(max-width: 1200px){
	.container{
		width: 100%;
	}
	
}
@media(max-width: 991px){
  .rodapeBlog .menuRodape {
		max-width: 560px;
		margin: 40px auto 0;
	}
	.rodapeBlog .menuRodape .nav ul{
		text-align: center;
	}
	.rodapeBlog .menuRodape .nav strong{
		text-align: center;
	}
	.postHomeBlog ul li{
		margin: 0 0 20px;
	}
	.postHomeBlog{
		padding: 10px;
	}
	.newllslatterBottom .formNews input[type="text"]{
		margin: 7px 5px;
	}
	.pg-inicialBlog .newllslatter .formNews input[type="text"]{
		width: 100%;
		margin: 10px auto;
	}
	.pg-inicialBlog .newllslatter .formNews{
		padding: 10px;
	}
	.pg-inicialBlog .newllslatter .info p{
		text-align: center;
	}
	.pg section .tituloBlog h6{
		text-align: center;
	}
}
@media(max-width: 768px){
  
}
