body {
    font-family:'Source Sans Pro'
}
a {
    text-decoration:none!important
}
.topo {
    min-height:90px;
    position:fixed;
    z-index:3;
    background:#fff;
    width:100%;
    top:0;
    padding-top:10px;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.topo .navbar-nav {
    background:rgba(255, 255, 255, .71);
    border-radius:30px;
    margin-left:30px
}
.topo .navbar-nav li {
    height:51px;
    overflow:hidden
}
.topo .area-menu {
    width:100%;
    max-width:1160px;
    margin:0 auto
}
.topo .logo a {
    display:block;
    width:175px;
    margin:0 auto;
    height:95px;
    text-align:center
}
.topo .logo a strong {
    display:block;
    text-indent:-9999em;
    height:105px;
    margin:0 auto;
    background:url(img/logo.png);
    background-repeat:no-repeat!important;
}
.topo .navbar {
    margin-top:10px;
    margin-bottom:0
}
.topo .navbar .navbar-toggle {
    border:1px solid #001b42;
    margin:0 20px;
    display:none
}
.topo .navbar .navbar-toggle span {
    background:#001b42
}
.topo .navbar .navbar-header .navbar-collapse ul li a {
    text-transform:uppercase;
    font-size:14px;
    position:relative
}
.nav>li>a {
    color:#2b3542
}
.link-ativo-menu>a {
    background:#e3daca;
    font-weight:600!important;
    color:#2b3542!important
}
.link-ativo-menu>a:after {
    background:#e3daca!important
}
.topo .navbar .navbar-header .navbar-collapse ul li a:hover {
    border-bottom:solid 2px
}
.nav>li>a:focus, .nav>li>a:hover {
    background:0 0!important
}
.topo .navbar .navbar-header .dropdown-menu {
    width:165px;
    padding:0;
    background:#2b3542
}
.topo .navbar .navbar-header .dropdown a {
    text-transform:uppercase;
    font-size:15px;
    font-weight:400;
    position:relative
}
.dropdown-menu>li>a {
    white-space:inherit!important;
    text-align:center;
    min-height:65px;
    color:#fff;
    padding-top:14px;
    font-size:15px
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background:0 0
}
.dropdown-menu>li>a:after {
    content:'';
    display:block;
    height:1px;
    width:100%;
    background:#fff;
    margin:40px auto 0
}
.dropdown-menu>li>a:hover:after {
    position:relative;
    background:#e3daca!important
}
.dropdown-menu>li>a:before {
    content:attr(title);
    display:block;
    left:50%;
    transform:translateX(-50%);
    font-weight:100;
    text-transform:none;
    line-height:10px;
    position:absolute;
    bottom:12px;
    width:100%
}
.topo .dropdown-menu>li>a:hover {
    background:#e3daca;
    font-weight:600!important;
    color:#2b3542!important
}
.topo .navbar .navbar-header .navbar-nav .dropdown a span {
    display:block;
    font-weight:100;
    text-transform:capitalize;
    line-height:10px;
    margin-bottom:15px
}
.topo .navbar .navbar-header .dropdown .ultimo-item:after {
    content:'';
    display:none
}
.rodape {
    margin-top:140px
}
.rodape .hvr-overline-reveal:before {
    background:#fff
}
.rodape .info-contato-rodape {
    width:100%;
    text-align:center;
    margin:50px auto 0
}
.rodape .info-contato-rodape img {
    margin:20px auto;
    max-width:190px
}
.rodape .info-contato-rodape p {
    text-transform:uppercase;
    font-weight:700;
    font-size:29px;
    margin:0;
    line-height:23px
}
.rodape .info-contato-rodape span {
    display:block;
    text-transform:uppercase;
    font-size:24px
}
.rodape .info-contato-rodape small {
    display:block;
    font-size:17px;
    padding:0 60px
}
.rodape .info-contato-rodape small strong {
    font-size:22px;
    font-weight:600
}
.rodape .info-contato-rodape .horarios {
    text-align:center;
    font-weight:700;
    max-width:278px;
    margin:0 auto
}
.rodape .foto-fundo-formulario-contato {
    background-size:cover!important;
    background-position:center!important;
    min-height:300px;
    padding-top:40px;
    padding-bottom:25px
}
.rodape .foto-fundo-formulario-contato .formulario-contato {
    width:100%;
    max-width:560px;
    padding:0 10px;
    margin:0 auto
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group {
    position:relative
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group .label-absolut {
    position:absolute;
    background:#fff;
    height:100%;
    color:transparent;
    text-indent:-9999em;
    width:50px;
    visibility:hidden
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group i {
    position:absolute;
    top:0;
    z-index:999;
    right:7px;
    font-size:30px;
    color:#2b3542;
    background:#fff;
    height:50px;
    line-height:40px;
    width:50px;
    left:0;
    text-align:center
}
.pg .banner-blog .nome-blog p:after, .pg-evento .banner-evento .nome-evento h3:after {
    right:-240px
}
.copyright p, .pg .titulo-paginas:before {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group .form-control {
    background:0 0;
    border-radius:0;
    border:1.5px solid #fff;
    color:#fff;
    outline:0!important;
    height:40px;
    padding-left:65px;
    font-size:16px;
    font-style:italic
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group .form-control:focus .label-absolut {
    background:red
}
.form-control::-webkit-input-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.form-control:-moz-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.form-control::-moz-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.form-control:-ms-input-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group .label-textarea {
    position:absolute;
    background:#fff;
    height:60px;
    color:transparent;
    text-indent:-9999em;
    width:50px;
    visibility:hidden
}
#map, .copyright, .mapa {
    position:relative
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group .textareaIco {
    height:60px;
    line-height:60px
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group textarea {
    width:100%;
    max-width:100%;
    background:0 0;
    border-radius:0;
    border:1.5px solid #fff;
    color:#fff;
    height:60px;
    max-height:60px;
    outline:0!important;
    padding-left:65px;
    font-size:16px;
    font-style:italic
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group textarea::-webkit-input-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group textarea:-moz-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group textarea::-moz-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.rodape .foto-fundo-formulario-contato .formulario-contato .form-group textarea:-ms-input-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.rodape .foto-fundo-formulario-contato .formulario-contato .btnEnviar {
    max-width:350px;
    width:100%;
    height:40px;
    background:#3b3738;
    color:#a98e70;
    font-size:18px;
    text-align:center;
    border:none;
    border:1px solid transparent;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.rodape .foto-fundo-formulario-contato .formulario-contato .btnEnviar:hover {
    background:rgba(59, 55, 56, .68);
    border:1px solid #3b3738;
    color:#fff;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.rodape .mapa {
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #ccc;
    margin:5px;
    overflow:hidden
}
.rodape .mapa iframe {
    width:100%;
    height:450px
}
.rodape span.wpcf7-not-valid-tip {
    text-align:right
}
.btnMapa {
    width:100%;
    height:450px;
    background:0 0
}
#map {
    height:450px;
    overflow:inherit!important;
    background-color:#e5e3df
}
.copyright {
    min-height:50px;
    background:#47a5ae
}
.copyright p {
    color:#fff;
    text-align:center;
    font-size:18px;
    margin:0;
    position:absolute
}
.pg .titulo-paginas {
    text-align:center;
    position:relative
}
.pg .titulo-paginas p {
    text-transform:uppercase;
    color:#2b3542;
    font-weight:700;
    font-size:30px;
    position:relative;
    background:#fff;
    z-index:2;
    max-width:280px;
    margin:20px auto
}
.pg .titulo-paginas:before {
    content:'';
    display:block;
    background:#a98e70;
    width:570px;
    height:1px;
    margin:0 auto;
    position:absolute;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    z-index:-1
}
.pg .blog .sidebar {
    background:#e7eaeb;
    position:relative;
    text-align:center;
    max-width:230px;
    margin:0 auto;
    padding-bottom:20px
}
.pg .blog .sidebar .titulo-sidebar-blog {
    display:block;
    color:#a98e70;
    font-weight:400;
    background:#152f3f;
    height:40px;
    line-height:40px;
    text-transform:uppercase;
    font-size:20px;
    text-align:center
}
.pg .blog .sidebar .titulo-baixo {
    margin-top:100px
}
.pg .blog .sidebar .linkSidebar {
    font-size:20px;
    color:#393836;
    display:block;
    margin:20px 15px;
    border-bottom:solid 1px;
    border-color:#a98e70;
    font-weight:500
}
.pg .blog .sidebar .linkSidebar:hover {
    color:#a98e70;
    font-style:italic;
    font-weight:600
}
.pg .blog .sidebar .linkpostagem {
    font-size:inherit;
    color:inherit;
    display:block;
    margin:initial;
    border-bottom:inherit;
    border-color:inherit;
    font-weight:inherit
}
.pg .blog .sidebar ul {
    list-style:none;
    margin:50px 0;
    padding:0;
    text-align:center
}
.pg .blog .sidebar ul li {
    width:170px;
    min-height:120px;
    margin:20px auto
}
.pg .blog .sidebar ul li:before {
    content:'';
    display:block;
    height:1px;
    width:140px;
    margin:2px auto;
    background:#a98e70
}
.pg .blog .sidebar ul li img {
    margin:0 auto;
    border:1px solid #ccc
}
.pg .blog .sidebar ul li .wpp-post-title {
    font-size:18px;
    color:#393836;
    margin:0
}
.pg .blog .sidebar ul li:hover .wpp-post-title {
    font-style:italic;
    color:#a98e70;
    font-weight:700
}
.pg .blog .sidebar ul li span {
    color:#a98e70;
    font-style:italic;
    font-size:16px
}
.pg .banner-blog {
    height:340px;
    background-size:cover!important;
    background-position:center!important;
    position:relative
}
.pg .banner-blog .nome-blog {
    position:absolute;
    bottom:0;
    background:rgba(255, 255, 255, .68);
    width:100%;
    min-height:100px;
    padding-top:30px;
    text-align:center
}
.pg .banner-blog .nome-blog p {
    font-size:30px;
    text-transform:uppercase;
    font-weight:700;
    color:#2b3542;
    text-align:center;
    margin:0;
    display:inline;
    position:relative
}
.pg .banner-blog .nome-blog p:after, .pg .banner-blog .nome-blog p:before {
    display:block;
    position:absolute;
    background:#b4a08b;
    top:20px;
    max-width:230px;
    width:100%;
    height:1px;
    content:''
}
.pg .banner-blog .nome-blog p:before {
    left:-240px
}
.blog #blog, .category-clube-do-victor #blog, .page-template-clube #clube, .page-template-contato #contato, .page-template-quem-somos #quemSomos, .post-type-archive-cardapio #cardapio, .post-type-archive-eventos #eventos, .single-cardapio #cardapio, .single-eventos #eventos, .single.single-post #blog, .tax-categoriaCardapio #cardapio {
    -webkit-transform:translateY(-5px);
    transform:translateY(-5px);
    border-bottom:solid 2px
}
.page-template-inicial-franquia #barVictor {
    font-size:15px!important;
    background:#e3daca;
    font-weight:600!important;
    color:#2b3542!important
}
.page-template-inicial-franquia #barVictor:after {
    background:#e3daca
}
.home .topo {
    display:none
}
.modal-content {
    border-radius:0
}
.modal-content div.wpcf7-mail-sent-ok {
    text-align:center
}
.modal-body {
    position:relative
}
.modal-body .close {
    font-size:50px;
    position:absolute;
    top:5px;
    right:5px;
    outline:0;
    z-index:999
}
.modal-body .pg-contato {
    margin:0;
    min-height:520px
}
.modal-body .pg-contato p {
    text-transform:uppercase;
    margin:0 auto;
    font-size:27px;
    font-weight:700
}
.modal-body .pg-contato .formulario-contato .btnEnviar {
    max-width:500px!important;
    width:100%!important;
    margin:0 auto;
    border:1px solid #2b3542;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    position:inherit
}
.modal-body .pg-contato .formulario-contato .btnEnviar:hover {
    background:0 0;
    color:#2b3542;
    border-color:#2b3542;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-inicial {
    margin-top:-20px
}
.pg-inicial .carrossel-destaque-inicial {
    margin-top:20px
}
.pg-inicial .carrossel-destaque-inicial video {
    top:0;
    left:0;
    width:100%;
    height:110%;
    object-fit:cover;
    position:absolute
}
.pg-inicial .carrossel-destaque-inicial .owl-dots {
    display:inline-block;
    text-align:center;
    position:absolute;
    bottom:-60px;
    right:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg)
}
.pg-inicial .carrossel-destaque-inicial .owl-dots span {
    display:block;
    border:1px solid #fff;
    width:15px;
    height:15px;
    border-radius:100%;
    margin:5px;
    bottom:0;
    left:50%;
    background:rgba(255, 255, 255, .43)
}
.pg-inicial .carrossel-destaque-inicial .owl-dot.active span {
    background:#fff
}
.pg-inicial .carrossel-destaque-inicial .item {
    width:100%;
    height:600px;
    display:block;
    position:relative;
    background-position:center!important
}
.carrossel-destaque-inicial .btnCarrossenDestaque {
    background:0 0;
    border:0;
    position:absolute;
    z-index:9;
    color:#fff;
    font-size:100px;
    top:35%;
    transform:translateY(-50%);
    outline:0
}
.carrossel-destaque-inicial .btnCarrossenDestaqueF {
    left:25px
}
.carrossel-destaque-inicial .btnCarrossenDestaqueT {
    right:25px
}
.pg-inicial .area-eventos-reservas-inicial {
    position:relative;
    width:100%;
    max-width:100%;
    margin:3px auto 0
}
.pg-inicial .area-eventos-reservas-inicial:before {
    content:'';
    display:block;
    height:10px;
    width:100%;
    background:url(img/linha.png);
    position:absolute;
    z-index:2;
    top:-5px
}
.pg-inicial .area-eventos-reservas-inicial .correcaoX {
    padding-right:5px
}
.pg-inicial .area-eventos-reservas-inicial .lente-area-eventos-reservas-inicial {
    height:230px;
    width:100%;
    background-color:rgba(0, 0, 0, .72)
}
.pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial {
    min-height:178px;
    width:100%;
    background-size:cover!important;
    background-position:center!important;
    background-repeat:no-repeat!important;
    position:relative;
    -webkit-transition:all .6s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -o-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out
}
.pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial a {
    display:block;
    border:1px solid #fff;
    color:#fff;
    margin:0 auto;
    width:100%;
    max-width:440px;
    height:40px;
    font-size:22px;
    font-weight:100;
    line-height:35px;
    text-align:center;
    text-decoration:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    outline:0
}
.pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial a:hover {
    background:rgba(255, 255, 255, .45);
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial .iconeventos:before {
    content:'';
    background:url(svg/calendar.svg);
    display:block;
    width:50px;
    height:50px;
    background-size:cover!important;
    background-position:center!important;
    position:absolute;
    right:-60px;
    top:-10px
}
.pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial a:hover:before {
    -webkit-animation:tada 1s ease;
    animation:tada 1s ease;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1
}
.pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial .reservaicon:before {
    content:'';
    background:url(svg/bell.svg);
    display:block;
    width:50px;
    height:50px;
    background-size:cover!important;
    background-position:center!important;
    position:absolute;
    right:-60px;
    top:-10px
}
.pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial:hover {
    -webkit-transition:all .6s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -o-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
    background-position:-5px 100%!important
}
.pg-inicial .area-sobre-inicial {
    padding:20px
}
.pg-inicial .area-sobre-inicial span {
    display:block;
    font-size:25px;
    text-transform:uppercase;
    font-weight:700
}
.pg-inicial .area-sobre-inicial small {
    display:block;
    font-size:16px;
    font-weight:600
}
.pg-inicial .area-sobre-inicial small i {
    font-size:30px
}
.pg-inicial .area-sobre-inicial p {
    font-size:18px;
    margin-top:10px;
    line-height:30px
}
.pg .area-proximos-eventos-inicial .carrossel-eventos-inicial {
    position:relative;
    max-width:80%;
    margin:50px auto 0;
    height:345px
}
.pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .navegacaoEventosFrent {
    color:#fff;
    outline:0;
    text-align:center;
    background:#2b3542;
    border:0;
    left:10px;
    z-index:2;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:40px;
    bottom:10px;
    position:absolute
}
.pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .navegacaoEventosTras {
    color:#fff;
    outline:0;
    text-align:center;
    background:#2b3542;
    border:0;
    right:10px;
    z-index:2;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:40px;
    bottom:10px;
    position:absolute
}
.pg .area-proximos-eventos-inicial .link, .pg .area-proximos-eventos-inicial .text-center a {
    height:46px;
    max-width:261px;
    color:#001b42;
    font-size:20px;
    font-weight:600;
    width:100%;
    text-align:center;
    line-height:45px;
    text-transform:uppercase;
    text-decoration:none
}
.pg .area-proximos-eventos-inicial .link {
    display:block;
    border:1px solid #ffcb04;
    bottom:15px;
    border-radius:5px;
    margin:15px auto
}
.pg .area-proximos-eventos-inicial .link:hover {
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg .area-proximos-eventos-inicial .text-center {
    bottom:0;
    display:block;
    width:100%;
    z-index:999;
    margin-top:20px
}
.pg .area-proximos-eventos-inicial .text-center a {
    display:inline-block;
    border-radius:5px;
    margin:0 5px
}
.pg-inicial .area-cardapio-inicial {
    width:100%;
    max-width:80%;
    margin:120px auto 0
}
.pg-inicial .area-cardapio-inicial .titulo-paginas {
    margin-bottom:50px
}
.pg-inicial .area-cardapio-inicial .titulo-paginas p {
    max-width:160px;
    width:100%
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial {
    position:relative
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item {
    margin:0 5px;
    min-height:315px
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item a {
    display:block;
    text-decoration:none
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item a:hover .lente-cardapio-inicial {
    background:rgba(22, 47, 79, .77);
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item a:hover .cardapio-nome-inicial h3 {
    color:#fff;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item a:hover .cardapio-nome-inicial {
    background:#2b3542;
    color:#fff;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item a:hover span {
    opacity:1;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item .lente-cardapio-inicial {
    width:100%;
    height:310px;
    background:0 0;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
    padding:115px 10px
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item .cardapio-nome-inicial {
    height:70px;
    width:100%;
    background:#b69f85;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
    text-align:center;
    padding-top:10px;
    margin-bottom:2px
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item .cardapio-nome-inicial h3 {
    margin:0;
    padding:15px 0 0;
    display:inline-block;
    color:#2b3542;
    font-size:30px;
    font-style:italic;
    font-weight:100
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item .cardapio-nome-inicial img {
    width:50px;
    display:inline-block;
    vertical-align:top;
    margin:0 5px
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item a:hover img {
    -webkit-animation:swing 1s ease;
    animation:swing 1s ease;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item .cardapio-foto-inicial {
    height:310px;
    background-position:center!important;
    background-size:cover!important;
    position:relative
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item .lente-cardapio-inicial span {
    display:block;
    height:45px;
    width:100%;
    max-width:245px;
    text-align:center;
    line-height:45px;
    color:#fff;
    border:1px solid #fff;
    font-size:20px;
    font-weight:100;
    margin:0 auto;
    opacity:0;
    text-decoration:none;
    position:relative;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-inicial .area-cardapio-inicial .carrossel-cardapio-inicial .item .lente-cardapio-inicial span:before {
    content:'';
    display:block;
    height:44px;
    width:20px;
    background:#fff;
    position:absolute;
    left:0;
    text-decoration:none
}
.pg-inicial .area-cardapio-inicial .navegacaoCardapioInicialFrent, .pg-inicial .area-cardapio-inicial .navegacaoCardapioInicialTras {
    height:46px;
    width:46px;
    border:2px solid;
    font-size:30px;
    background:0 0;
    margin:2px 0;
    z-index:2;
    top:-50px;
    outline:0;
    position:absolute;
    text-align:center
}
.pg-inicial .area-cardapio-inicial .navegacaoCardapioInicialFrent {
    color:#2b3542;
    left:5px
}
.pg-inicial .area-cardapio-inicial .navegacaoCardapioInicialFrent:focus, .pg-inicial .area-cardapio-inicial .navegacaoCardapioInicialFrent:hover {
    color:#fff
}
.pg-inicial .area-cardapio-inicial .navegacaoCardapioInicialTras {
    right:5px;
    color:#2b3542
}
.pg-inicial .area-cardapio-inicial .navegacaoCardapioInicialTras:focus, .pg-inicial .area-cardapio-inicial .navegacaoCardapioInicialTras:hover {
    color:#fff
}
.pg-inicial .area-clube-inicial {
    width:100%;
    max-width:80%;
    margin:65px auto 0
}
.pg-inicial .area-clube-inicial .titulo-paginas {
    margin-bottom:50px
}
.pg-inicial .area-clube-inicial .titulo-paginas:before {
    max-width:822px;
    width:100%
}
.pg-inicial .area-clube-inicial .titulo-paginas p {
    max-width:360px
}
.pg-inicial .area-clube-inicial ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center
}
.pg-inicial .area-clube-inicial ul li {
    width:33%;
    display:inline-block;
    vertical-align:top
}
.pg-inicial .area-clube-inicial ul li .clube-foto-inical {
    width:100%;
    background-size:cover!important;
    background-position:center!important;
    min-height:365px
}
.pg-inicial .area-clube-inicial ul li .clube-foto-inical .lente {
    min-height:365px;
    width:100%;
    background:rgba(0, 0, 0, .62);
    padding:135px 50px;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
    cursor:pointer
}
.pg-inicial .area-clube-inicial ul li .clube-foto-inical .lente:hover {
    background:0 0;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-inicial .area-clube-inicial ul li .clube-foto-inical .lente p {
    color:#fff;
    text-transform:uppercase;
    font-weight:700;
    margin:0;
    font-size:24px;
    width:100%;
    max-width:300px;
    text-align:left
}
.pg-inicial .area-clube-inicial ul li .clube-foto-inical .lente p:last-child:after {
    content:'';
    display:block;
    width:100%;
    height:2px;
    background:rgba(255, 255, 255, .5);
    margin-top:20px
}
.pg-inicial .area-clube-inicial .quero-participar {
    display:block;
    text-align:center;
    border:1px solid;
    max-width:400px;
    width:100%;
    margin:20px auto;
    height:40px;
    line-height:40px;
    font-size:20px;
    font-weight:400;
    color:#2b3542;
    font-style:italic;
    text-decoration:none;
    position:relative
}
.pg-inicial .area-clube-inicial .quero-participar:hover {
    color:#fff
}
.pg-inicial .area-clube-inicial .quero-participar:after {
    content:'';
    display:block;
    background:url(svg/cetaDireita.svg);
    width:24px;
    height:24px;
    background-size:cover!important;
    background-position:center!important;
    position:absolute;
    right:90px;
    top:10px
}
.pg-inicial .area-clube-inicial .quero-participar:hover:after {
    background:url(svg/cetaDireitaBranca.svg)
}
.pg-inicial .ultimas-blog-inicial {
    width:100%;
    max-width:80%;
    margin:120px auto 0
}
.pg-inicial .ultimas-blog-inicial .titulo-paginas {
    margin-bottom:50px
}
.pg-inicial .ultimas-blog-inicial .titulo-paginas:before {
    max-width:822px;
    width:100%
}
.pg-inicial .ultimas-blog-inicial .titulo-paginas p {
    max-width:400px
}
.pg-inicial .ultimas-blog-inicial ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center
}
.pg-inicial .ultimas-blog-inicial ul li {
    width:100%;
    max-width:302px;
    display:inline-block;
    vertical-align:top;
    margin:10px 0
}
.pg-inicial .ultimas-blog-inicial ul li:hover .lente {
    background:rgba(22, 47, 79, .77)
}
.pg-inicial .ultimas-blog-inicial ul li:hover .blog-descricao-inicial {
    background:#142f3f
}
.pg-inicial .ultimas-blog-inicial ul li:hover p {
    color:#a98e70
}
.pg-inicial .ultimas-blog-inicial ul li:hover .link-post {
    display:block!important
}
.pg-inicial .ultimas-blog-inicial ul li .blog-foto-inicial {
    width:100%;
    background-size:cover!important;
    background-position:center!important;
    display:block;
    text-decoration:none
}
.pg-inicial .ultimas-blog-inicial ul li .blog-foto-inicial .lente {
    height:245px;
    width:100%;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
    position:relative
}
.pg-inicial .ultimas-blog-inicial ul li .blog-foto-inicial .lente span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    display:none;
    height:45px;
    width:100%;
    max-width:230px;
    text-align:center;
    line-height:45px;
    color:#fff;
    border:1px solid #fff;
    font-size:20px;
    font-weight:100;
    margin:0 auto;
    text-transform:lowercase;
    text-decoration:none;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-inicial .ultimas-blog-inicial ul li .blog-foto-inicial .lente span:before {
    content:'';
    display:block;
    height:44px;
    width:20px;
    background:#fff;
    position:absolute;
    left:0;
    text-decoration:none
}
.pg-inicial .ultimas-blog-inicial ul li .blog-descricao-inicial {
    padding:20px;
    margin-top:1px;
    width:100%
}
.pg-inicial .ultimas-blog-inicial ul li p {
    font-size:20px;
    line-height:20px;
    text-align:left;
    text-transform:uppercase;
    font-weight:700;
    color:#393836
}
.pg-inicial .ultimas-blog-inicial ul li span {
    color:#a98e70;
    text-transform:uppercase;
    font-size:15px;
    text-align:left;
    display:block
}
.pg-quem-somos {
    margin-top:-20px
}
.modalContato {
    max-width:700px;
    width:100%;
    margin:20px auto
}
.pg-quem-somos .videoGeral {
    width:100%;
    height:500px;
    position:relative;
    overflow:hidden
}
.pg-quem-somos .videoGeral video {
    position:absolute;
    top:50%;
    left:50%;
    width:90%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%)
}
.pg-quem-somos .bg-quem-somos {
    width:100%;
    height:350px;
    background-position:center!important;
    background-size:cover!important
}
.pg-quem-somos .area-quemsomos {
    margin-top:50px;
    margin-bottom:50px
}
.pg-quem-somos .area-quemsomos .texto-quem-somos h2 {
    font-size:25px;
    color:#2b3542;
    text-transform:uppercase;
    font-weight:700;
    padding:10px
}
.pg-quem-somos .area-quemsomos .texto-quem-somos span {
    font-size:16px;
    font-weight:600;
    color:#2b3542;
    padding:10px;
    display:inline-block
}
.pg-quem-somos .area-quemsomos .texto-quem-somos span i {
    font-size:25px
}
.pg-quem-somos .area-quemsomos .texto-quem-somos p {
    font-size:18px;
    line-height:30px;
    margin-top:20px;
    width:100%;
    max-width:510px;
    padding:10px
}
.pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul {
    list-style:none;
    padding:0;
    margin:50px 0 0;
    text-align:center;
    display:flex
}
.pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul li {
    width:270px;
    min-height:350px;
    display:inline-block;
    background:#142f3e;
    padding:10px;
    vertical-align:top
}
.pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul li span {
    font-size:17px;
    color:#a98e70;
    font-weight:700;
    text-transform:uppercase;
    line-height:20px;
    margin:10px;
    display:block
}
.pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul li p {
    color:#fff;
    font-size:17px;
    font-weight:400
}
.pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul .direito {
    background:#dce0e2
}

.pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul .direito p {
    color:#142f3e;
    font-size:17px;
    font-weight:400
}
	.pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul li p strong {
	    font-size:17px;
	    color:#a98e70;
	    font-weight:700;
	    text-transform:uppercase;
	    line-height:20px;
	    margin:10px;
	    display:block
	}
	.pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul  .direito  p strong {
	    font-size:17px;
	    color:#142f3e;
	    font-weight:700;
	    text-transform:uppercase;
	    line-height:20px;
	    margin:10px;
	    display:block
	}
.pg-quem-somos .area-linhado-tempo {
    height:830px;
    position:relative
}
.pg-quem-somos .area-linhado-tempo .linhaTempo {
    background:url(img/linhaDotempo.png);
    width:100%;
    height:8px;
    position:absolute;
    top:49%
}
.pg-quem-somos .area-linhado-tempo ul {
    list-style:none;
    padding-top:395px;
    margin:0;
    height:880px;
    white-space:nowrap;
    width:100%;
    text-align:center;
    overflow-x:scroll;
    overflow-y:hidden
}
.pg-quem-somos .area-linhado-tempo ul::-webkit-scrollbar-track {
    background:#fff
}
.pg-quem-somos .area-linhado-tempo ul::-webkit-scrollbar {
    background:#142f3e
}
.pg-quem-somos .area-linhado-tempo ul::-webkit-scrollbar-thumb {
    background:#142f3e
}
.pg-quem-somos .area-linhado-tempo ul::-webkit-resizer, .pg-quem-somos .area-linhado-tempo ul::-webkit-scrollbar-button, .pg-quem-somos .area-linhado-tempo ul::-webkit-scrollbar-corner {
    display:none
}
.pg-quem-somos .area-linhado-tempo ul li {
    display:inline-block;
    height:30px;
    width:30px;
    background:#fff;
    border-radius:100%;
    border:5px solid;
    cursor:pointer;
    vertical-align:top;
    position:relative;
    margin:0 90px
}
.pg-quem-somos .area-linhado-tempo ul .linhaCima .textoLinhaPar {
    top:101px
}
.pg-quem-somos .area-linhado-tempo ul .linhaCima .textoLinhaPar:before {
    top:initial;
    bottom:-45px
}
.pg-quem-somos .area-linhado-tempo ul .linhaCima .textoLinhaPar:after {
    top:-75px;
    bottom:initial
}
.pg-quem-somos .area-linhado-tempo ul li:hover {
    background:#8c7964
}
.pg-quem-somos .area-linhado-tempo ul .linhaCima:before {
    content:attr(title);
    display:inline-block;
    position:absolute;
    bottom:28px;
    color:#8c7964;
    font-size:20px;
    font-weight:600;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    visibility:visible;
    opacity:1;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-quem-somos .area-linhado-tempo ul .linhaBaixo:after {
    content:attr(title);
    display:inline-block;
    position:absolute;
    top:28px;
    color:#8c7964;
    font-size:20px;
    font-weight:600;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    visibility:visible;
    opacity:1;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-quem-somos .area-linhado-tempo ul li .textoLinhaPar {
    position:absolute;
    width:270px;
    min-height:240px;
    bottom:100px;
    left:50%;
    transform:translateX(-49%);
    -webkit-transform:translateX(-49%);
    -moz-transform:translateX(-49%);
    -o-transform:translateX(-49%);
    background:#dce0e2;
    color:#142f3e;
    border-right:solid 5px #142f3e;
    border-bottom:solid 6px #142f3e;
    white-space:initial!important;
    visibility:visible;
    opacity:1;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-quem-somos .area-linhado-tempo ul li .textoLinhaPar:before {
    content:attr(title);
    display:inline-block;
    font-size:30px;
    font-weight:700;
    color:#a98e70;
    position:absolute;
    top:-40px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%)
}
.pg-quem-somos .area-linhado-tempo ul li .textoLinhaPar:after {
    content:'';
    display:block;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    height:70px;
    width:1px;
    background:#142f3e;
    position:absolute;
    bottom:-80px
}
.pg-quem-somos .area-linhado-tempo ul li .textoLinhaPar span {
    color:#142f3e;
    font-size:17px;
    display:block;
    text-align:center;
    font-weight:700;
    text-transform:uppercase;
    white-space:initial!important
}
.pg-quem-somos .area-linhado-tempo ul li .textoLinhaPar p {
    font-size:17px;
    margin:0;
    font-weight:500;
    padding:10px;
    text-align:center;
    white-space:initial!important
}
.pg-quem-somos .area-linhado-tempo ul li:after, .pg-quem-somos .area-linhado-tempo ul li:before {
    visibility:hidden;
    opacity:0;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-quem-somos .carrossel-quem-somos {
    position:relative;
    height:365px;
    margin-bottom:45px
}
.pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosFrent, .pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosTras {
    position:absolute;
    height:46px;
    width:46px;
    font-size:30px;
    background:0 0;
    margin:2px 0;
    top:30px;
    text-align:center;
    outline:0;
    z-index:2
}
.pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosFrent {
    border:2px solid;
    color:#2b3542;
    left:0
}
.pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosFrent:focus, .pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosFrent:hover {
    color:#fff;
    border:2px solid #2b3542
}
.pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosTras {
    right:0;
    border:2px solid;
    color:#2b3542
}
.pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosTras:focus, .pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosTras:hover {
    color:#fff;
    border:2px solid #2b3542
}
.pg-quem-somos .carrossel-quem-somos .carrossel-quem-somos .item {
    width:100%;
    min-height:280px;
    padding:0 2px
}
.pg-quem-somos .carrossel-quem-somos .carrossel-quem-somos .item .foto-quem-somos {
    width:100%;
    height:280px;
    position:relative;
    background-position:center!important;
    background-size:cover!important
}
.pg-quem-somos .carrossel-quem-somos .carrossel-quem-somos .item .nome-funcao-quem-somos {
    width:285px;
    height:80px;
    background:rgba(0, 0, 0, .7);
    bottom:0;
    position:absolute;
    padding:15px 20px
}
.pg-quem-somos .carrossel-quem-somos .carrossel-quem-somos .item .nome-funcao-quem-somos:before {
    content:'';
    display:block;
    width:73%;
    height:6px;
    background:#a98e70;
    position:absolute;
    top:0;
    left:0
}
.pg-quem-somos .carrossel-quem-somos .carrossel-quem-somos .item .nome {
    color:#fff;
    font-size:20px;
    font-weight:100;
    text-transform:uppercase;
    margin:0
}
.pg-quem-somos .carrossel-quem-somos .carrossel-quem-somos .item span {
    color:#a98e70;
    font-size:20px;
    font-weight:700;
    line-height:17px
}
.pg-quem-somos .carrossel-quem-somos .carrossel-quem-somos .item .descricao {
    color:#393836;
    font-size:17px;
    padding:0 10px
}
.pg-cardapio {
    margin-top:120px
}
.pg-cardapio .banner {
    height:200px;
    text-align:center;
    background-size:cover!important;
    background-position:center!important;
    color:#fff;
    padding-top:60px;
    margin-bottom:50px
}
.pg-cardapio .banner p {
    text-transform:uppercase;
    font-size:34px;
    font-weight:700;
    margin:0;
    position:relative;
    display:inline-block
}
.pg-cardapio .banner p:after, .pg-cardapio .banner p:before {
    content:'';
    position:absolute;
    background:#8b7159;
    max-width:155px;
    height:1px;
    width:100%;
    top:50%
}
.pg-cardapio .banner p:before {
    left:-94px;
    -webkit-transform:translate(-50%);
    -moz-transform:translate(-50%);
    -ms-transform:translate(-50%);
    -o-transform:translate(-50%);
    transform:translate(-50%)
}
.pg-cardapio .banner p:after {
    right:-248px;
    -webkit-transform:translate(-50%);
    -moz-transform:translate(-50%);
    -ms-transform:translate(-50%);
    -o-transform:translate(-50%);
    transform:translate(-50%)
}
.pg-cardapio .banner span {
    font-size:16px;
    font-weight:100;
    display:block
}
.pg-cardapio .areaCardapio .sidebarCardapio {
    margin-top:20px
}
.pg-cardapio .areaCardapio .sidebarCardapio a {
    background:#fff;
    color:#2b3542;
    display:block;
    padding:7px 10px;
    max-width:279px;
    min-height:55px;
    border-bottom:solid 1px #d8d9dc
}
.pg-cardapio .areaCardapio .sidebarCardapio .ativoLink, .pg-cardapio .areaCardapio .sidebarCardapio a:hover {
    background:#2b3542;
    color:#fff
}
.pg-cardapio .areaCardapio .sidebarCardapio img {
    display:inline-block;
    vertical-align:bottom
}
.pg-cardapio .areaCardapio .sidebarCardapio .ativoLink img, .pg-cardapio .areaCardapio .sidebarCardapio a:hover img {
    -webkit-filter:brightness(0) invert(1);
    filter:brightness(0) invert(1)
}
.pg-cardapio .areaCardapio .sidebarCardapio h2 {
    display:inline-block;
    margin:0 8px 0 0;
    font-size:18px
}
.pg-cardapio .areaCardapio .sidebarCardapio .ativoLink h2, .pg-cardapio .areaCardapio .sidebarCardapio a:hover h2 {
    font-weight:100
}
.pg-cardapio .areaCardapio .sidebarCardapio i {
    font-size:17px;
    font-size:30px;
    color:transparent;
    float:right;
    margin-top:5px
}
.pg-cardapio .areaCardapio .sidebarCardapio .ativoLink i, .pg-cardapio .areaCardapio .sidebarCardapio a:hover i {
    color:#fff
}
.pg-cardapio .areaCardapio .cardapioPratos {
    padding:10px;
    margin:auto auto 0;
    max-width:740px
}
.pg-cardapio .areaCardapio .cardapioPratos h2 {
    font-size:20px;
    font-weight:700;
    text-transform:uppercase;
    color:#1f4d67
}
.pg-cardapio .areaCardapio .cardapioPratos span {
    display:block;
    font-size:18px;
    text-transform:uppercase;
    color:#1f4d67;
    margin-bottom:10px
}
.pg-cardapio .areaCardapio .cardapioPratos p {
    font-size:16px;
    color:#5f6062;
    line-height:15px
}
.pg-cardapio .areaCardapio .cardapioPratos .cardapioFotoPrato {
    height:100px;
    max-width:160px;
    background-position:center!important;
    background-size:cover!important;
    margin-top:25px;
    -webkit-transition:all .6s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -o-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out
}
.pg-cardapio .areaCardapio .cardapioPratos:hover .cardapioFotoPrato {
    -webkit-transition:all .6s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -o-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
    background-position:100% 70%!important
}
.pg-cardapio .areaCardapio .cardapioBebidas ul {
    padding:0;
    list-style:none;
    width:100%;
    text-align:center
}
.pg-cardapio .areaCardapio .cardapioBebidas ul li {
    display:inline-block;
    max-width:280px;
    width:100%;
    margin:50px 20px;
    vertical-align:top
}
.pg-cardapio .areaCardapio .cardapioBebidas ul li h2 {
    margin:0;
    background:#dfe1e3;
    padding:10px;
    font-size:23px
}
.pg-cardapio .areaCardapio .cardapioBebidas ul li h3 {
    font-size:18px;
    text-align:left;
    padding:7px 0 0;
    margin:5px 0 0;
    color:#434343
}
.pg-cardapio .areaCardapio .cardapioBebidas ul li p {
    margin:0;
    color:#434343;
    text-align:left;
    border-bottom:solid 1px #d5d7d9;
    font-style:italic;
    font-weight:700;
    padding-bottom:7px;
    min-width:280px;
    max-width:100%
}
.pg-cardapio .areaCardapio .pratodestaque {
    background-size:cover!important;
    background-position:center!important;
    width:100%;
    height:300px;
    max-width:500px;
    float:right;
    margin-top:100px
}
.pg-cardapio .areaCardapio .menuChamadaCardapio {
    font-size:20px!important;
    color:#1f4d67!important;
    line-height:26px!important
}
.pg-cardapio .areaCardapio .iconeChamada {
    font-size:20px;
    color:#1f4d67
}
.pg-cardapio .area-pratos-cardapio {
    width:80%;
    margin:1px auto
}
.pg-cardapio .area-pratos-cardapio .prato {
    margin-bottom:100px
}
.pg-cardapio .area-pratos-cardapio .prato-texto-cardapio {
    background:#142f3e;
    min-height:190px;
    margin-bottom:90px;
    border:1px solid #fff
}
.pg-cardapio .area-pratos-cardapio .prato-texto-cardapio p {
    color:#fff;
    font-size:17px;
    padding:20px;
    margin:0
}
.pg-cardapio .area-pratos-cardapio .prato-texto-cardapio p b {
    color:#a98e70;
    text-transform:uppercase
}
.pg-cardapio .area-pratos-cardapio .prato-igredientes-cardapio ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center
}
.pg-cardapio .area-pratos-cardapio .prato-igredientes-cardapio ul li {
    display:inline-block;
    margin:0 40px 80px
}
.pg-cardapio .area-pratos-cardapio .prato-igredientes-cardapio ul li img {
    display:inline-block;
    vertical-align:top
}
.pg-cardapio .area-pratos-cardapio .prato-igredientes-cardapio ul li p {
    display:inline-block;
    margin:0;
    width:100%;
    max-width:230px;
    font-size:17px;
    line-height:15px
}
.pg-cardapio .area-pratos-cardapio .prato-foto-cardapio {
    height:570px;
    background-size:cover!important;
    background-position:center!important;
    border:1px solid #fff
}
.pg-cardapio .area-pratos-cardapio .prato-foto-cardapio .descricao-cardapio {
    background:rgba(0, 0, 0, .94);
    min-height:100px;
    padding-top:10px
}
.pg-cardapio .area-pratos-cardapio .prato-foto-cardapio .descricao-cardapio p {
    text-transform:uppercase;
    font-size:30px;
    text-align:center;
    margin:0;
    color:#a98e70;
    font-weight:600
}
.pg-cardapio .area-pratos-cardapio .prato-foto-cardapio .descricao-cardapio span {
    text-transform:uppercase;
    font-size:27px;
    text-align:center;
    color:#a98e70;
    font-weight:300;
    display:block;
    line-height:10px
}
.pg-eventos {
    width:100%;
    margin:-20px auto 0
}
.pg-eventos .area-carrossel-eventos {
    position:relative
}
.pg-eventos .area-carrossel-eventos .navegacaoEventosFrentPG {
    position:absolute;
    z-index:2;
    width:80px;
    height:83px;
    color:#fff;
    font-size:50px;
    background:#142f3e;
    border:0;
    outline:0;
    top:18%;
    display:none
}
.pg-eventos .area-carrossel-eventos .navegacaoEventosTrasPG {
    position:absolute;
    z-index:2;
    right:0;
    width:80px;
    height:83px;
    color:#fff;
    font-size:50px;
    background:#142f3e;
    border:0;
    top:18%;
    display:none
}
.pg-eventos .area-carrossel-eventos .owl-dots {
    position:absolute;
    top:85%;
    left:35%;
    background:rgba(0, 0, 0, .54);
    border-radius:5px;
    transform:rotate(90deg) scale(1) skew(1deg) translate(0);
    -webkit-transform:rotate(90deg) scale(1) skew(1deg) translate(0);
    -moz-transform:rotate(90deg) scale(1) skew(1deg) translate(0);
    -o-transform:rotate(90deg) scale(1) skew(1deg) translate(0);
    -ms-transform:rotate(90deg) scale(1) skew(1deg) translate(0)
}
.pg-eventos .area-carrossel-eventos .owl-dot span {
    display:inline-block;
    width:12px;
    height:12px;
    margin:5px 7px;
    border:1px solid transparent;
    border-radius:20px;
    background:#fff
}
.pg-eventos .area-carrossel-eventos .item, .pg-eventos .area-carrossel-eventos .item .foto-evento {
    background-position:center!important;
    background-size:cover!important
}
.pg-eventos .area-carrossel-eventos .owl-dot.active span {
    border:1px solid #093a4d
}
.pg-eventos .area-carrossel-eventos .item .foto-evento {
    min-height:590px;
    position:relative
}
.pg-eventos .area-carrossel-eventos .item .area-informacoes-evento {
    width:680px;
    min-height:80px;
    background:rgba(0, 0, 0, .81);
    position:absolute;
    right:0;
    padding:30px 80px;
    bottom:0
}
.pg-eventos .area-carrossel-eventos .item .area-informacoes-evento h3 {
    font-size:30px;
    text-transform:uppercase;
    font-weight:700;
    color:#a98e70
}
.pg-eventos .area-carrossel-eventos .item .area-informacoes-evento span {
    display:block;
    font-size:25px;
    text-transform:uppercase;
    font-weight:300;
    max-width:360px;
    width:100%;
    color:#a98e70
}
.pg-eventos .area-carrossel-eventos .item .area-informacoes-evento p {
    font-size:19px;
    color:#fff
}
.pg-eventos .area-carrossel-eventos .item .area-informacoes-evento a {
    display:inline-block;
    width:100%;
    max-width:236px;
    min-height:50px;
    margin:30px 10px 0;
    border:1px solid #fff;
    line-height:45px;
    text-align:center;
    color:#fff;
    font-size:22px;
    background:0 0;
    font-weight:600;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-eventos .area-carrossel-eventos .item .area-informacoes-evento a:hover {
    background:#142f3e;
    border-color:#142f3e;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-eventos .casas-participantes-evento {
    padding:30px 0;
    margin-top:3px;
    background:rgba(238, 239, 239, .82)
}
.pg-eventos .casas-participantes-evento span {
    display:block;
    text-transform:uppercase;
    text-align:center;
    color:#2b3542;
    font-weight:700;
    font-size:26px;
    margin-bottom:20px
}
.pg-eventos .casas-participantes-evento ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center
}
.pg-eventos .casas-participantes-evento ul li {
    width:130px;
    margin:0 15px;
    background:0 0;
    height:130px;
    position:relative;
    display:inline-block;
    vertical-align:top
}
.pg-eventos .casas-participantes-evento ul li img {
    top:50%;
    position:absolute;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%)
}
.pg-clube .banner-evento .nome-evento h3:before, .pg-evento .banner-evento .nome-evento h3:before {
    left:-240px
}
.pg-evento {
    width:100%;
    margin:-20px
}
.pg-evento .banner-evento {
    height:560px;
    background-size:cover!important;
    background-position:center!important;
    position:relative
}
.pg-evento .banner-evento .nome-evento {
    position:absolute;
    bottom:0;
    background:rgba(255, 255, 255, .68);
    width:100%;
    min-height:100px;
    padding-top:30px;
    text-align:center
}
.pg-evento .banner-evento .nome-evento h3 {
    font-size:30px;
    text-transform:uppercase;
    font-weight:700;
    color:#2b3542;
    text-align:center;
    margin:0;
    display:inline;
    position:relative
}
.pg-evento .banner-evento .nome-evento h3:after, .pg-evento .banner-evento .nome-evento h3:before {
    content:'';
    position:absolute;
    background:#b4a08b;
    top:20px;
    max-width:230px;
    width:100%;
    height:1px;
    display:block
}
.pg-evento .banner-evento .nome-evento p {
    font-size:16px;
    color:#2b3542;
    text-align:center;
    margin:0
}
.pg-evento .sobre-evento {
    background:#e7eaeb;
    width:80%;
    margin:0 auto
}
.pg-evento .sobre-evento .texto-sobre-evento {
    min-height:300px;
    background:#142f3e;
    padding:50px
}
.pg-evento .sobre-evento .texto-sobre-evento strong {
    color:#fff;
    display:block;
    font-size:26px;
    text-transform:uppercase;
    font-weight:700;
    margin-bottom:10px
}
.pg-evento .sobre-evento .texto-sobre-evento p {
    color:#fff;
    font-size:16px;
    line-height:33px;
    font-weight:300
}
.pg-evento .sobre-evento .foto-sobre-evento {
    background-position:center!important;
    background-size:cover!important;
    height:300px
}
.pg-evento .sobre-evento .casas-participantes-evento {
    padding-top:60px
}
.pg-evento .sobre-evento .casas-participantes-evento span {
    display:block;
    text-transform:uppercase;
    text-align:center;
    color:#a98e70;
    font-weight:700;
    font-size:26px;
    margin-bottom:20px
}
.pg-evento .sobre-evento .casas-participantes-evento ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center
}
.pg-evento .sobre-evento .casas-participantes-evento ul li {
    width:130px;
    margin:0 10px;
    background:0 0;
    height:130px;
    position:relative;
    display:inline-block;
    vertical-align:top
}
.pg-evento .sobre-evento .casas-participantes-evento ul li img {
    top:50%;
    position:absolute;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%)
}
.pg-evento .sobre-evento .icon {
    text-align:center;
    margin-top:50px;
    opacity:0
}
.pg-evento .sobre-evento .icon:hover {
    -webkit-animation:bounce 1s ease;
    animation:bounce 1s ease;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1
}
.pg-evento .sobre-evento .icon img {
    margin:0 auto
}
.pg-evento .sobre-evento .faca-parte {
    width:100%;
    max-width:450px;
    height:45px;
    text-align:center;
    margin:80px auto 130px;
    display:block;
    background:#a98e70;
    color:#fff;
    font-size:22px;
    line-height:40px;
    font-weight:700;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-evento .sobre-evento .faca-parte:hover {
    background:#565656;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    border-color:#3b3738
}
.pg-evento .carrossel-pratos-eventos {
    position:relative;
    height:365px;
    width:80%;
    margin:0 auto
}
.pg-evento .carrossel-pratos-eventos .navegacaoPratosEventosFrent, .pg-evento .carrossel-pratos-eventos .navegacaoPratosEventosTras {
    position:absolute;
    height:46px;
    width:46px;
    font-size:30px;
    background:0 0;
    margin:2px 0;
    z-index:2;
    top:12px;
    outline:0;
    text-align:center
}
.pg-evento .carrossel-pratos-eventos .titulo-paginas p {
    max-width:120px
}
.pg-evento .carrossel-pratos-eventos .navegacaoPratosEventosFrent {
    border:2px solid;
    color:#2b3542;
    left:0;
    border-radius:5px
}
.pg-evento .carrossel-pratos-eventos .navegacaoPratosEventosFrent:focus, .pg-evento .carrossel-pratos-eventos .navegacaoPratosEventosFrent:hover {
    color:#fff;
    border-color:#2b3542
}
.pg-evento .carrossel-pratos-eventos .navegacaoPratosEventosTras {
    right:0;
    border:2px solid;
    color:#2b3542;
    border-radius:5px
}
.pg-evento .carrossel-pratos-eventos .navegacaoPratosEventosTras:focus, .pg-evento .carrossel-pratos-eventos .navegacaoPratosEventosTras:hover {
    color:#fff;
    border-color:#2b3542
}
.pg-evento .carrossel-pratos-eventos .item {
    width:100%;
    min-height:280px;
    padding:0 2px;
    display:block;
    text-decoration:none
}
.pg-evento .carrossel-pratos-eventos .item .foto-Pratoseventos {
    width:100%;
    height:280px;
    position:relative;
    background-position:center!important;
    background-size:cover!important
}
.pg-evento .carrossel-pratos-eventos .item .nome-funcao-Pratoseventos {
    width:100%;
    min-height:80px;
    background:rgba(0, 0, 0, .89);
    bottom:0;
    position:absolute;
    padding:15px 20px
}
.pg-evento .carrossel-pratos-eventos .item span {
    color:#a98e70;
    font-size:20px;
    font-weight:400;
    line-height:17px
}
.pg-evento .carrossel-pratos-eventos .item .descricao {
    color:#393836;
    font-size:17px;
    padding:0 10px
}
.pg-clube {
    margin-top:-20px
}
.pg-clube .banner-evento {
    height:340px;
    background-size:cover!important;
    background-position:center!important;
    position:relative
}
.pg-clube .banner-evento .nome-evento {
    position:absolute;
    bottom:0;
    background:rgba(255, 255, 255, .68);
    width:100%;
    min-height:100px;
    padding-top:30px;
    text-align:center
}
.pg-clube .banner-evento .nome-evento h3 {
    font-size:30px;
    text-transform:uppercase;
    font-weight:700;
    color:#2b3542;
    text-align:center;
    margin:0;
    display:inline;
    position:relative
}
.pg-clube .banner-evento .nome-evento h3:after, .pg-clube .banner-evento .nome-evento h3:before {
    display:block;
    position:absolute;
    background:#b4a08b;
    top:20px;
    max-width:230px;
    width:100%;
    height:2px;
    content:''
}
.pg-clube .banner-evento .nome-evento h3:after {
    right:-240px
}
.pg-clube .banner-evento .nome-evento p {
    font-size:16px;
    color:#2b3542;
    text-align:center;
    margin:0
}
.pg-clube .area-clube {
    width:100%;
    max-width:80%;
    margin:5px auto 0
}
.pg-clube .area-clube ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display:flex
}
.pg-clube .area-clube ul li {
    width:100%;
    display:inline-block;
    vertical-align:top;
    margin:0 1px
}
.pg-clube .area-clube ul li .clube-foto {
    width:100%;
    background-size:cover!important;
    background-position:center!important;
    min-height:555px;
    position:relative
}
.pg-clube .area-clube ul li .clube-foto:after {
    content:'';
    display:block;
    width:100%;
    height:2px;
    background:rgba(255, 255, 255, .5);
    position:absolute;
    left:50%;
    bottom:70px;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    max-width:260px
}
.pg-clube .area-clube ul li .clube-foto .lente {
    background:rgba(0, 0, 0, .62);
    padding:50px;
    height:290px;
    width:85%;
    position:absolute;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-clube .area-clube ul li:hover .lente {
    width:100%;
    padding:200px 50px;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
    cursor:pointer;
    height:555px
}
.pg-clube .area-clube ul li:hover p {
    max-width:100%
}
.pg-clube .area-clube ul li .clube-foto .lente span {
    color:#fff;
    text-transform:uppercase;
    font-weight:700;
    margin:0;
    font-size:24px;
    width:100%;
    max-width:300px;
    text-align:left;
    display:block
}
.pg-clube .area-clube ul li .clube-foto .lente p {
    color:#fff;
    font-size:19px;
    font-weight:300;
    text-align:left;
    max-width:329px
}
.pg-clube .area-clube .quero-participar {
    display:block;
    text-align:center;
    border:1px solid;
    max-width:400px;
    width:100%;
    margin:20px auto;
    height:40px;
    line-height:40px;
    font-size:20px;
    font-weight:100;
    color:#2b3542;
    font-style:italic;
    text-decoration:none;
    position:relative
}
.pg-clube .area-clube .quero-participar:active, .pg-clube .area-clube .quero-participar:focus, .pg-clube .area-clube .quero-participar:hover {
    color:#fff
}
.pg-clube .area-clube .quero-participar:after {
    content:'';
    display:block;
    background:url(svg/cetaDireita.svg);
    width:24px;
    height:24px;
    background-size:cover!important;
    background-position:center!important;
    position:absolute;
    right:90px;
    top:10px
}
.pg-clube .area-clube .quero-participar:hover:after {
    background:url(svg/cetaDireitaBranca.svg)
}
.pg-blog {
    margin-top:-20px
}
.pg-blog .blog {
    margin-top:50px
}
.pg-blog .posts-blog ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center
}
.pg-blog .posts-blog ul li {
    width:100%;
    max-width:302px;
    display:inline-block;
    margin:0 50px 70px;
    vertical-align:top
}
.pg-blog .posts-blog ul li:hover .lente {
    background:rgba(22, 47, 79, .77)
}
.pg-blog .posts-blog ul li:hover p {
    color:#a98e70
}
.pg-blog .posts-blog ul li:hover .link-post {
    display:block!important
}
.pg-blog .posts-blog ul li .blog-foto-inicial {
    width:100%;
    background-size:cover!important;
    background-position:center!important;
    display:block;
    text-decoration:none
}
.pg-blog .posts-blog ul li .blog-foto-inicial .lente {
    height:245px;
    width:100%;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
    position:relative
}
.pg-blog .posts-blog ul li .blog-foto-inicial .lente span {
    position:absolute;
    top:50%;
    left:50%;
    text-transform:lowercase;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    display:none;
    height:45px;
    width:100%;
    max-width:230px;
    text-align:center;
    line-height:45px;
    color:#fff;
    border:1px solid #fff;
    font-size:20px;
    font-weight:100;
    margin:0 auto;
    text-decoration:none;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-blog .posts-blog ul li .blog-foto-inicial .lente span:before {
    content:'';
    display:block;
    height:44px;
    width:20px;
    background:#fff;
    position:absolute;
    left:0;
    text-decoration:none
}
.pg-blog .posts-blog ul li .blog-descricao-inicial {
    padding:20px;
    margin-top:1px;
    position:relative;
    width:100%
}
.pg-blog .posts-blog ul li:hover .blog-descricao-inicial {
    background:#142f3f
}
.pg-blog .posts-blog ul li:hover .blog-descricao-inicial:after {
    content:'';
    display:block;
    height:5px;
    position:absolute;
    bottom:-10px;
    background:#142f3f;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    width:100%;
    transition:All .5s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease
}
.pg-blog .posts-blog ul li p {
    font-size:20px;
    line-height:20px;
    text-align:left;
    text-transform:uppercase;
    font-weight:700;
    color:#393836
}
.pg-blog .posts-blog ul li span {
    color:#a98e70;
    text-transform:uppercase;
    font-size:15px;
    text-align:left;
    display:block
}
.pg-blog .posts-blog ul li small {
    display:block;
    text-align:left;
    font-size:16px;
    color:#142f3f
}
.pg-blog .posts-blog ul li:hover small {
    display:none
}
.pg-postagem {
    margin-top:-20px
}
.pg-postagem .blog {
    margin-top:50px
}
.pg-postagem .area-postagem-blog {
    max-width:700px;
    width:100%;
    margin:0 auto;
    font-size:18px
}
.pg-postagem .area-postagem-blog .foto-postagem {
    height:400px;
    width:100%;
    background-size:cover!important;
    background-position:center!important
}
.pg-postagem .area-postagem-blog .titulo-postagem {
    background:#142f3f;
    min-height:100px
}
.pg-postagem .area-postagem-blog .titulo-postagem h2 {
    font-size:18px;
    text-transform:uppercase;
    color:#a98e70;
    font-weight:600;
    padding:20px 20px 10px;
    margin:0
}
.pg-postagem .area-postagem-blog .titulo-postagem span {
    font-size:18px;
    text-transform:uppercase;
    color:#a98e70;
    font-weight:100;
    padding:0 20px;
    line-height:10px
}
.pg-postagem .area-postagem-blog p {
    padding:10px;
    font-size:18px;
    line-height:30px;
    margin-bottom:0
}
.pg-postagem .area-postagem-blog figure img {
    display: block!important;
    opacity: initial!important;
}
.pg-postagem .area-postagem-blog li {
    font-size:18px
}
.pg-postagem .paginador {
    text-align:center;
    margin-top:50px
}
.pg-postagem .paginador a {
    font-size:20px;
    color:#a98e70;
    text-align:center;
    line-height:45px;
    width:125px;
    height:45px;
    border:1px solid transparent;
    display:inline-block;
    font-weight:600;
    letter-spacing:2px
}
.pg-postagem .paginador a:hover {
    border-color:#a98e70
}
.pg-postagem .paginador i {
    color:#a98e70;
    font-size:25px
}
.pg-contato {
    margin-top:-20px
}
.pg-contato .areaFomrulario {
    width:100%;
    max-width:80%;
    margin:0 auto
}
.pg-contato .areaFomrulario .imgContato {
    max-width:30px;
    display:inline-block;
    margin:0 11px
}
.pg-contato .banner-contato {
    height:350px;
    background-size:cover!important;
    background-position:center!important;
    position:relative;
    border-bottom:solid 1px #ccc
}
.pg-contato .banner-contato .nome-contato {
    position:absolute;
    bottom:0;
    background:rgba(255, 255, 255, .68);
    width:100%;
    min-height:100px;
    padding-top:30px;
    text-align:center
}
.pg-contato .banner-contato .nome-contato p {
    font-size:30px;
    text-transform:uppercase;
    font-weight:700;
    color:#2b3542;
    text-align:center;
    margin:0;
    display:inline;
    position:relative
}
.pg-contato .banner-contato .nome-contato p:after, .pg-contato .banner-contato .nome-contato p:before {
    content:'';
    position:absolute;
    background:#b4a08b;
    top:20px;
    max-width:230px;
    height:2px;
    width:100%;
    display:block
}
.pg-contato .banner-contato .nome-contato p:before {
    left:-150px
}
.pg-contato .banner-contato .nome-contato p:after {
    right:-150px
}
.pg-contato .subtitulo-contato {
    font-size:19px;
    color:#2b3542;
    width:100%;
    max-width:575px;
    margin:50px auto 0;
    position:relative;
    padding-right:40px
}
.pg-contato .subtitulo-contato img {
    width:35px;
    position:absolute;
    right:0;
    top:10px
}
.pg-contato .formulario-contato {
    width:100%;
    max-width:500px;
    margin:0 auto;
    text-align:right;
    position:relative
}
.pg-contato .formulario-contato .form-group {
    position:relative
}
.pg-contato .formulario-contato .form-group i {
    position:absolute;
    top:0;
    z-index:999;
    right:7px;
    font-size:30px;
    color:#fff;
    background:#2b3542;
    height:50px;
    line-height:50px;
    width:50px;
    left:0;
    text-align:center
}
.pg-contato .formulario-contato .form-group .label-absolut {
    position:absolute;
    background:#2b3542;
    height:100%;
    color:transparent;
    text-indent:-9999em;
    width:50px;
    left:0;
    visibility:hidden
}
.pg-contato .formulario-contato .form-group .textareaLabel {
    height:50px
}
.pg-contato .formulario-contato .form-group .form-control {
    background:0 0;
    border-radius:0;
    color:#2b3542;
    outline:0!important;
    height:50px;
    padding-left:65px;
    padding-right:37px;
    font-size:16px;
    font-style:italic;
    border:1px solid #2b3542
}
.pg-contato .formulario-contato .form-group textarea {
    width:100%;
    max-width:500px;
    background:0 0;
    border-radius:0;
    color:#2b3542;
    height:160px;
    max-height:160px;
    outline:0!important;
    padding-left:60px;
    font-size:16px;
    font-style:italic;
    border:1px solid #2b3542;
    padding-right:37px
}
.pg-contato .formulario-contato .form-group textarea::-webkit-input-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.pg-contato .formulario-contato .form-group textarea:-moz-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.pg-contato .formulario-contato .form-group textarea::-moz-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.pg-contato .formulario-contato .form-group textarea:-ms-input-placeholder {
    color:#000!important;
    font-style:italic;
    font-size:16px
}
.pg-contato .formulario-contato .btnEnviar {
    display:block;
    width:215px;
    height:45px;
    text-align:center;
    color:#fff;
    font-style:italic;
    background:#2b3542;
    font-size:20px;
    position:absolute;
    right:0;
    border:solid;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-contato .formulario-contato .btnEnviar:hover {
    background:0 0;
    color:#2b3542;
    border-color:#2b3542;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-contato .info-contato-rodape {
    width:100%;
    text-align:center;
    margin:50px auto 0
}
.pg-contato .info-contato-rodape img {
    margin:20px auto;
    max-width:250px
}
.pg-contato .info-contato-rodape p {
    text-transform:uppercase;
    font-weight:700;
    font-size:29px;
    margin:0;
    line-height:23px
}
.pg-contato .info-contato-rodape span {
    display:block;
    text-transform:uppercase;
    font-size:24px
}
.pg-contato .info-contato-rodape small {
    display:block;
    font-size:17px;
    padding:0 60px
}
.pg-contato .info-contato-rodape small strong {
    font-size:22px;
    font-weight:600
}
.pg-contato .info-contato-rodape .horarios {
    text-align:center;
    font-weight:700;
    max-width:278px;
    margin:0 auto
}
.pg-contato .formulariosIndividuais {
    width:100%;
    margin:40px auto
}
.pg-contato .formulariosIndividuais ul {
    list-style:none;
    padding:0
}
.pg-contato .formulariosIndividuais ul li {
    text-align:center;
    display:inline-block;
    margin:20px;
    cursor:pointer
}
.pg-contato .formulariosIndividuais ul li .icon {
    background:#2b3542;
    display:block;
    padding:20px;
    border-radius:100%;
    width:100px;
    height:100px;
    margin:0 auto;
    border:2px solid #2b3542;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-contato .formulariosIndividuais ul li:hover .icon {
    background:0 0;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-contato .formulariosIndividuais ul li .icon img {
    -webkit-filter:brightness(0) invert(1);
    filter:brightness(0) invert(1);
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-contato .formulariosIndividuais ul li:hover img {
    -webkit-filter:brightness(1) invert(1);
    filter:brightness(1) invert(1);
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease
}
.pg-contato .formulariosIndividuais ul li span {
    font-size:16px
}
.page-template-contato .formularioRodape {
    display:none
}
.pg-contato div.wpcf7-validation-errors {
    margin-top:100px
}
@media(max-width:1400px) {
    .pg-inicial .area-eventos-reservas-inicial {
        max-width:100%
    }
    .pg-cardapio .area-pratos-cardapio {
        width:100%
    }
    .pg-cardapio .area-pratos-cardapio .prato-igredientes-cardapio ul li {
        margin:0 15px 85px
    }
}
@media(max-width:1160px) {
    .pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial a {
        max-width:300px
    }
}
@media(max-width:1200px) {
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial, .pg-clube .area-clube {
        max-width:100%
    }
    .pg-inicial .area-clube-inicial ul li {
        width:49%;
        margin-top:5px
    }
    .pg-contato .areaFomrulario {
        max-width:100%;
        padding:20px
    }
    .pg-cardapio .area-pratos-cardapio .prato-foto-cardapio .descricao-cardapio span {
        line-height:inherit
    }
}
@media(max-width:1024px) {
    .pg-inicial .area-cardapio-inicial {
        max-width:100%
    }
}
@media(max-width:991px) {
    .pg-eventos .area-carrossel-eventos .item .area-informacoes-evento a, .topo {
        position:initial
    }
    .pg-inicial .area-eventos-reservas-inicial .correcaoX {
        padding-right:0;
        padding-bottom:2px
    }
    .pg-inicial .carrossel-destaque-inicial .item {
        height:300px;
        background-size:cover!important;
        background-position:center!important
    }
    .slides {
        height:299px
    }
    .pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial a {
        max-width:250px
    }
    .pg .titulo-paginas:before {
        width:410px
    }
    .pg-evento, .pg-eventos, .pg-inicial .area-clube-inicial ul li, .pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul li {
        width:100%
    }
    .pg-clube .area-clube .quero-participar:after, .pg-inicial .area-clube-inicial .quero-participar:after {
        right:60px
    }
    .pg .blog .sidebar {
        max-width:700px
    }
    .pg .blog .sidebar ul li {
        display:inline-block
    }
    .pg .banner-blog .nome-blog p:after, .pg .banner-blog .nome-blog p:before, .pg-cardapio .titulo-paginas p:after, .pg-cardapio .titulo-paginas p:before, .pg-evento .banner-evento .nome-evento h3:after, .pg-evento .banner-evento .nome-evento h3:before {
        display:none
    }
    .pg-blog .posts-blog ul li {
        margin:20px 0 70px
    }
    .pg-eventos .area-carrossel-eventos .item .area-informacoes-evento {
        width:100%;
        min-height:360px
    }
    .pg-inicial .area-clube-inicial ul li .clube-foto-inical .lente {
        padding:135px 15px
    }
    .pg-inicial .area-clube-inicial ul li .clube-foto-inical .lente p {
        max-width:100%;
        text-align:center
    }
    .pg-clube .area-clube ul li .clube-foto .lente {
        padding:128px 15px
    }
    .pg {
        margin:0
    }
    .pg-cardapio .areaCardapio .sidebarCardapio a {
        margin:0 auto;
        max-width:710px
    }
    .pg-cardapio .areaCardapio .sidebarCardapio i {
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg)
    }
    .pg-cardapio .areaCardapio .cardapioPratos {
        text-align:center
    }
    .pg-cardapio .areaCardapio .cardapioPratos .cardapioFotoPrato {
        margin:0 auto;
        height:170px;
        max-width:250px
    }
    .pg-cardapio .areaCardapio .cardapioBebidas ul li {
        margin:50px 0
    }
    .pg-eventos .area-carrossel-eventos .owl-dots {
        top:26%;
        left:50%;
        transform:translateX(-50%);
        transform:rotate(90deg) scale(1) skew(1deg);
        -webkit-transform:rotate(90deg) scale(1) skew(1deg);
        -moz-transform:rotate(90deg) scale(1) skew(1deg);
        -o-transform:rotate(90deg) scale(1) skew(1deg);
        -ms-transform:rotate(90deg) scale(1) skew(1deg)
    }
}
@media(max-width:768px) {
    .pg-evento .sobre-evento, .topo .navbar .navbar-header .dropdown-menu {
        width:100%
    }
    .pg-eventos .area-carrossel-eventos .item .area-informacoes-evento {
        padding:10px;
        position:initial
    }
    .pg-eventos .area-carrossel-eventos .item {
        min-height:772px
    }
    .pg-clube .area-clube, .pg-inicial .area-clube-inicial {
        max-width:100%
    }
    .pg-clube .banner-evento .nome-evento h3:after, .pg-clube .banner-evento .nome-evento h3:before {
        display:none
    }
    .pg-cardapio .area-pratos-cardapio .prato-foto-cardapio {
        height:400px
    }
    .pg-clube .area-clube ul {
        display:block
    }
    .pg-clube .area-clube ul li {
        margin:5px 0
    }
    .copyright p {
        position:inherit;
        top:inherit;
        left:inherit;
        transform:inherit;
        padding:5px
    }
    .navbar-collapse.in {
        overflow-y:inherit
    }
    .rodape .info-contato-rodape {
        margin:50px 0
    }
    .rodape {
        margin:0 auto
    }
    .pg-eventos .area-carrossel-eventos .navegacaoEventosTrasPG {
        top:0;
        right:0;
        outline:0;
        width:57px;
        height:57px;
        font-size:40px
    }
    .pg-eventos .area-carrossel-eventos .navegacaoEventosFrentPG {
        top:0;
        left:0;
        width:57px;
        height:57px;
        font-size:40px;
        position:inherit
    }
    .pg-cardapio .titulo-paginas {
        margin-bottom:150px
    }
    .pg-quem-somos .area-linhado-tempo ul::-webkit-scrollbar-track {
        background:#c9c9c9
    }
    .pg-eventos .area-carrossel-eventos .item .foto-evento {
        min-height:0
    }
    .pg-eventos .area-carrossel-eventos .owl-dots {
        top:initial;
        bottom:0
    }
}
@media(max-width:777px) {
    .topo .navbar .navbar-toggle {
        display:block
    }
}
@media(max-width:600px) {
    .pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul li {
        display:block
    }
    .pg-quem-somos .area-quemsomos .area-historia-como-surgiu ul {
        display:inherit
    }
    .pg-contato .formulario-contato .btnEnviar, .pg-contato .subtitulo-contato img {
        position:initial;
        margin:0 auto
    }
    .pg-evento .sobre-evento .texto-sobre-evento {
        padding:10px
    }
}
@media(max-width:555px) {
    .pg-contato .formulario-contato .form-group textarea {
        padding-left:59px
    }
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial {
        min-height:0
    }
}
@media(max-width:460px) {
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .navegacaoEventosFrent, .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .navegacaoEventosTras {
        height:46px;
        width:46px;
        border:2px solid;
        color:#2b3542;
        font-size:30px;
        background:0 0;
        text-align:center;
        margin:2px 0;
        z-index:2;
        top:-50px;
        outline:0;
        position:absolute;
        line-height:inherit
    }
    .pg .titulo-paginas:before {
        display:none
    }
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .navegacaoEventosTras {
        right:5px
    }
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .navegacaoEventosFrent {
        left:5px
    }
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .navegacaoEventosFrent:hover, .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .navegacaoEventosTras:hover {
        background:#2b3542;
        color:#fff
    }
    .pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosFrent, .pg-quem-somos .carrossel-quem-somos .navegacaoQuemSomosTras {
        top:82px;
        background:rgba(43, 53, 66, .7);
        color:#fff;
        border-color:#2b3542
    }
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .item {
        height:350px;
        display:block;
        background-position:center!important
    }
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .item img {
        opacity:0
    }
}
@media(max-width:425px) {
    #slidVideo {
        display:none!important
    }
    #fotoVideo {
        display:block!important
    }
}
@media(max-width:400px) {
    .pg-inicial .area-eventos-reservas-inicial .eventos-fotos-inicial a {
        left:40%;
        max-width:220px
    }
    .pg-inicial .area-clube-inicial .titulo-paginas p, .pg-inicial .ultimas-blog-inicial .titulo-paginas p {
        padding:0 1px;
        font-size:25px
    }
    .pg-clube .area-clube .quero-participar:after, .pg-inicial .area-clube-inicial .quero-participar:after {
        right:30px
    }
    .pg-contato .subtitulo-contato {
        padding:10px
    }
    .pg-cardapio .area-carrossel-pratos-cardapio .carrossel-cardapio .owl-item.center .cardapio-foto {
        height:270px
    }
    .pg-cardapio .area-carrossel-pratos-cardapio {
        height:700px
    }
    .pg .area-proximos-eventos-inicial .carrossel-eventos-inicial .mobail {
        display:block!important;
        background-size:initial!important;
        height:270px
    }
    .pg .area-proximos-eventos-inicial .text-center {
        position:inherit
    }
    .pg .area-proximos-eventos-inicial .text-center a {
        margin:5px 0
    }
    .pg .area-proximos-eventos-inicial .displayNone {
        opacity:0
    }
    .pg-eventos .area-carrossel-eventos .item {
        min-height:300px
    }
}
#disqus_thread {
    padding:10px
}
.page-template-pesquisa .logo h1 {
    background:url(img/logo-reastaurantesvictor.png)!important;
    height:115px!important
}
.page-template-pesquisa .rodape {
    margin-top:0
}
.page-template-pesquisa .logo a {
    width:198px!important;
    height:130px!important
}
.page-template-pesquisa .logoFranquias {
    display:none!important
}
.page-template-pesquisa .logoFranquia {
    display:block!important
}
.page-template-pesquisa .TA_excellent {
    display:none!important
}
.crazy_lazy {
    display: block!important;
    opacity: 1!important;
}
.btnPaginaInicial {
    background: #0000004d;
    border: 0;
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 63px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    left: 20px;
    border-radius: 100%;
    width: 74px;
    height: 74px;
    line-height: 0;
}
.btnPaginaInicialRight {
    background: #0000004d;
    border: 0;
    right: 20px;
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 63px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    width: 74px;
    height: 74px;
    line-height: 0;
    outline: none;
}
.navMenu {
    position: fixed;
    top: 20px;
    z-index: 9;
    right: 20px;
}
.topoFixed ul {
    background: #47a5ae;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}
.topoFixed ul li {
    background: #47a5ae;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}
.topoFixed ul li ul {
    background: #fff;
}
.topoFixed ul li ul li {
    background: #fff;
}
.menuDrop {
    list-style:none;
    border:1px solid #fff;
    float:left;
    padding: 0;
    font-size: 0;
}
.menuDrop li {
    position:relative;
    display: inline-block;
    border-right:1px solid #fff;
}
.menuDrop li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 18px;
}
.menuDrop li a:hover {
    background:#47a5ae;
    color:#fff;
}
.menuDrop li ul {
    position: absolute;
    top: 45px;
    left: -1px;
    background-color: #fff;
    display: none;
    width: 175px;
    padding: 0;
}
.menuDrop li ul li a {
    color:#414042;
}
.menuDrop li .ultimoItem {
    left: -25px;
}
.menuDrop li:hover ul, .menuDrop li.over ul {
    display:block;
}
.menuDrop li ul li {
    border:1px solid #c0c0c0;
    display:block;
    width:100%;
}
.menuDrop li ul li a {
    padding: 10px;
    font-size: 16px;
    display:block;
    width: 100%;
}
.menuDrop li ul li a:hover {
    color:#fff;
    background: #47a5ae;
}
.linkBannerTopoTarget {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.pg-inicial-franquias .carrosselDestaqueFranquias .item .textoDescricaoCasa {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}
.pg-inicial-franquias .carrosselDestaqueFranquias .item .linkCarrosselDestaque:before {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}
.paginaMibile .menuMobile ul li .menuDrop a strong {
    font-size: 16px;
}
.horariosDrop {
    top: -209px!important;
}
.aligncenter {
    margin: 0 auto;
}
.pg-inicial-franquias .logoEmbarcacoesFranquias ul li a .logos {
    width: 179px;
    height: 101px;
}
.pg-inicial-franquias .carrosselDestaqueFranquias .item {
    overflow: hidden;
}
.pg-inicial-franquias .logoEmbarcacoesFranquias ul li a .logos {
    max-width: 155px;
    height: 85px;
}
.pg-inicial-franquias .carrosselDestaqueFranquias {
    position:relative;
}
.modal.fade.in {
    z-index: 99999999999999;
}
.topo {
    position: fixed;
    -webkit-box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.75);
}
.topo:after {
    content:'';
    display: block;
    background: url(img/detalhebg-fundo.png);
    width: 100%;
    height: 13px;
    position: absolute;
    bottom: -8px;
    background-size: cover!important;
}
.topo .logo a {
    display: block;
    width: 175px;
    margin: 0 auto;
    height: 80px;
    text-align: center;
    position: relative;
    z-index: 9;
}
.topo .logo a strong {
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    position: absolute;
    display: block;
    width: 100%;
    top: 7px;
}
.topo .navbar {
    position: relative;
    z-index: 999;
}